<!DOCTYPE html>
<html>
<head>
	<title>To Do List</title>
	<link rel="stylesheet" type="text/css" href="/assets/main.css">
</head>
<body>
	<div class="container">
		<div class="control">
		<div class="title"> <h1>To Do List</h1></div>
		<div class="outer">
			<input type="text" class="text" placeholder="    Enter the Task">
			<button class="send" type="button" onclick=""><h3>Send<h3></button>
	</div>
	<div class="inner">
	  	<div class="content"></div>
	  	<div class="clear">
	  		<svg class="bi bi-x" width="2em" height="2em" viewBox="0 0 16 16" fill="#ffae28" xmlns="http://www.w3.org/2000/svg">
	  		<path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
	  		<path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
			</svg>
		</div>
	</div>
<div>
	<div class="control">
</div>
</body>
</html>
